#preview {
    min-width: calc(101vw - 40px);
}

::-webkit-scrollbar {
    display: none;
}

.item-category {
    align-items: center;
    justify-content: center;
}

.square {
    height: 100px;
}

.square:hover {
    transform: scale(1.025);
    transition: 10.5ms;
}

.preview_window:is(:link, :active, :visited).active {
    color: white;
    background-color: #212529;
}